Package: redmine-a-common-libs
Version: %VERSION%
Provides: redmine
Maintainer: Tacid <tacid@tacid.kiev.ua>
Architecture: all
Section: web
Description: A common libs plugin from RM+
 Redmine plugin which optionally enables inclusion of common
 libraries (twitter bootstrap, select2, highcharts, etc.)
Pre-Depends: medo-redmine
Installed-size: %SIZE%
Priority: optional
Origin: http://msdnr.ru
